@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: .4px;
    font-weight: 600;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.center{
    margin: 0 auto;
}
.top-25{
    margin-top: 25px;
}
p{
    font-weight: 300;
}
.container-90{
    width: 90%;
    margin: 0 auto;
}
.container-70{
    width: 70%;
    margin: 0 auto;
}
.green-btn{
    padding: 15px 45px;
    border:none;
    border-radius: 25px;
    background: #33CF97;
    color: #f2f2f2;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

#offer-banner{
    width:100%;
    height: 40px;
    background: #1E3D79;
}
#offer-banner > p{
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    font-size: 13px;
}
#main-banner{
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#21437c+0,26658d+33,29809d+53,2ca1ad+100 */
    background: #21437c; /* Old browsers */
    background: -moz-linear-gradient(left,  #21437c 0%, #26658d 33%, #29809d 53%, #2ca1ad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #21437c 0%,#26658d 33%,#29809d 53%,#2ca1ad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #21437c 0%,#26658d 33%,#29809d 53%,#2ca1ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21437c', endColorstr='#2ca1ad',GradientType=1 ); /* IE6-9 */
    position: relative;
}


header{
    width: 100%;
    height: 100px;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#call-to-action{
    display: none;
}
.logo-mobile{
    display: none;
}
.logo{
    width: 160px;
}
.logo img{
    width: 100%;
    display: block;
}
#menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: none;
}
.menu-line{
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}
.menu-line:nth-child(2){
    width: 80%;
}
#mobile-nav{
    display: none;
}
#nav{
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
}
#nav > a{
    color: #f2f2f2;
    font-weight: 600;
    padding: 7px 0;
}
#nav > a:last-child{
    border: 2px solid #33CF97;
    border-radius: 50px;
    padding: 15px 25px;
}
#banner-content{
   padding-top: 100px;
   padding-bottom: 550px;
   position: relative;
}
#big-a{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    z-index: 10;
}
#big-a img{
    width: 100%;
    display: block;
    z-index: 10;
}
#banner-content > h1{
    width: 80%;
    color: #f2f2f2;
    font-size: 70px;
    font-weight: 700;
    z-index: 1000;
    position: relative;
}
#banner-content > p{
    margin-top: 15px;
    color: #f2f2f2;
}
#banner-content button{
    margin-top: 35px;
}
.custom-shape-divider-bottom-1600263895 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1600263895 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 231px;
}

.custom-shape-divider-bottom-1600263895 .shape-fill {
    fill: #ffffff;
}

/* SERVICES */
#services {
    position: relative;
    margin-top: -480px;
    padding-top: 100px;
    z-index: 100;
}
#services > h1{
    text-align: center;
    color: #f2f2f2;
    text-transform: capitalize;
}
#services-container{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service{
    width: 23%;
    background:#ffffff;
    border-radius: 15px;
    -webkit-box-shadow: -8px 5px 32px -1px rgba(0,0,0,0.46); 
    box-shadow: -8px 5px 32px -1px rgba(0,0,0,0.46);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.service:last-child{
    margin-right: 0;
}
.service-img{
    width: 100%;
}
.service-img img{
    width: 100%;
    display: block;
}
.service-content{
    text-align: center;
}
.service-content h1{
    font-size: 18px;
    margin-top: 20px;
}
.service-content p{
    margin-top: 10px;
}
/* ACTIVATE YOUR BRAND */
#activate-brand{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
} 
#activate-left{
    width: 35%;
}
#blue-line{
    width: 30px;
    height: 4px;
    background: #29809d;
    float: right;
}
#activate-left > h1{
    margin-top: 30px;
    text-align: right;
    color: #2ca1ad;
}
#activate-right{
    width: 55%;
    padding-top: 42px;
}
#activate-right p{
    font-size: 20px;
}
.learn-more{
    display: block;
    margin-top: 30px;
    color: #29809d;
    font-weight: 600;
    font-size: 20px;
}
/* END ACTIVATE YOUR BRAND */
/* CONTACT SECTION */
#contact-section{
    width: 100%;
    position: relative;
    height: 800px;
    margin-top: 150px;
}
.custom-shape-divider-bottom-1602159274 {
    position: absolute;
    bottom: -63px; /* added cause shape has extra padding at the bottom*/
    right: 0;
    width: 90%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 0; /* was added cause this block is interfeering with other components*/
}

.custom-shape-divider-bottom-1602159274 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 438px;
    transform: rotateY(180deg);
    z-index: -1; /* was added so the form sits on top of this graphic*/
}

.custom-shape-divider-bottom-1602159274 .shape-fill {
    fill: #FFFFFF;
}
#contact-section-content{
    position: relative; /* was added so z-index could work.*/
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#contact-lets-work{
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#contact-text{
    color: #f2f2f2;
}
#contact-text > p{
    margin-top: 30px;
    line-height: 30px;
}
.contact-social{
    display: flex;
    width: 120px;
    justify-content: space-between;
}
.contact-social i{
    color: rgba(255, 255, 255, .4);
    font-size: 25px;
}
#contact-form{
    width: 45%;
    background-color: white;
    /* height: 70%; */
    border-radius: 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 0; */
}
#contact-form > form{
    padding: 50px 0;
    width: 80%;
    /* height: 100%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#name-email{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#name-email input:first-child{
    margin-right: 20px;
}

#contact-form input[type="text"], input[type="email"], input[type="tel"]{
    border:none;
    border-bottom: 1px solid rgba(0,0,0,0.26);
    margin-bottom: 30px;
    outline: none;
    padding-bottom: 10px;
    font-size: 15px;
    background: transparent;
}
#contact-form textarea{
    margin-bottom: 30px;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    padding-bottom: 10px;
    font-size: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.26);

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
::placeholder {
    color: rgba(0,0,0,.3);
    opacity: 1; /* Firefox */
  }
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(0,0,0,.3);
  }
::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(0,0,0,.3);
}
#contact-form h4{
    margin-top: 15px;
    color: rgba(0,0,0,0.66)
}
#contact-checkboxes{
    /* border: 1px solid blue; */
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.service-checkboxes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    margin-right: 25px;
    margin-bottom: 20px;
}

.service-checkboxes input{
    color: red;
    height: 13px;
    width: 13px;
    cursor: pointer;
}
.service-checkboxes label{
    margin-left: 5px;
    font-weight: 300;
    cursor: pointer;
}
#contact-form input[type="submit"]{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 20px 0;
    background: #33CF97;
    color: #f2f2f2;
}
.light-shadow{
    position: relative;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(13,13,13,0.56);
    -moz-box-shadow: 0px 0px 25px 0px rgba(13,13,13,0.56);
    box-shadow: 0px 0px 25px 0px rgba(13,13,13,0.56);
}
.error{
    display: block;
    color:red;
    font-size: 12px;
    background: transparent;
}

#form-node.invalid {
    outline-color: red;
    animation: shake .5s linear;
}
 @keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}


/* END CONTACT SECTION */
/* GRADIENT */
.gradient-300{
    margin-top: 150px;
    width: 100%;
    height: 850px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#21437c+0,26658d+33,29809d+53,2ca1ad+100 */
    background: #21437c; /* Old browsers */
    background: -moz-linear-gradient(left,  #21437c 0%, #26658d 33%, #29809d 53%, #2ca1ad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #21437c 0%,#26658d 33%,#29809d 53%,#2ca1ad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #21437c 0%,#26658d 33%,#29809d 53%,#2ca1ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21437c', endColorstr='#2ca1ad',GradientType=1 ); /* IE6-9 */
    position: relative;
}
.vertical-gradient{
    background: rgb(36,84,133);
    background: linear-gradient(180deg, rgba(36,84,133,1) 0%, rgba(38,101,141,1) 9%, rgba(41,128,157,1) 32%, rgba(44,161,173,1) 67%, rgba(12,176,193,1) 97%);
}
.horizontal-gradient{
    background: #21437c; /* Old browsers */
    background: -moz-linear-gradient(left, #2ca1ad 0%, #29809d 33%, #26658d 53%, #21437c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #2ca1ad 0%, #29809d 33%, #26658d 53%, #21437c 100%);; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #2ca1ad 0%, #29809d 33%, #26658d 53%, #21437c 100%);; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca1ad', endColorstr='#214437c',GradientType=1 ); /* IE6-9 */

}
#shapes{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#shapes img{
    width: 100%;
    display: block;
}
/* END GRADIENT */
/* TESTIMONIALS */
#testimonials{
    width: 100%;
    margin-top: 100px;
}
#testimonials > h1{
    text-align: center;
    margin: 0 auto;
    color: #777777;
}
#testimonials > p{
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    color: #f2f2f2;
}
.testimonial{
    width: 30%;
    background:#ffffff;
    border-radius: 15px;
    -webkit-box-shadow: -8px 5px 32px -1px rgba(0,0,0,0.46); 
    box-shadow: -8px 5px 32px -1px rgba(0,0,0,0.46);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
#testimonial-boxes{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.customer-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: left;
}
.info-img{
    width: 100px;
}
.info-img img{
    width: 100%;
}
.info-content{
    width: 180px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.info-content > h2{
    font-size: 16px;
    color: #2ca1ad;
}
.info-content > p{
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
    color: #000000;
}
.testimonial-content{
    margin-top: 25px;
    line-height: 30px;
    font-weight: 200;
    color: #777777;
}
/* END TESTIMONIALS */
/* FOOTER */
.custom-shape-divider-top-1604353830 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1604353830 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1604353830 .shape-fill {
    fill: #FFFFFF;
}
footer{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 40px 0;
    background: #26658d;
    color: #ffffff;
    text-align: center;
    position: relative;
}
#footer-header{
    margin-top: 120px;
}
#footer-header p{
    margin-top: 20px;
}
#footer-header .footer-contact-btn{
    margin-top: 40px;
}
#footer-social{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thin-white-line{
    width: 35%;
    height: 1px;
    background-color: #ffffff;
    opacity: .5;
}
#social-links a{
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}
#social-links{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
#copy-right{
    margin-top: 30px;
    font-size: 10px;
    font-weight: 200;

}
/* #f-boxes{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}
.f-services-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.f-services-list a{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #f2f2f2b7;
} */

/* END FOOTER */
 /* WHEN FORM SUBMITS */
 #form-success{
    background-color: #f2f2f2;
    width: 40%;
    margin: 0 auto;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.3);
    height: 40vh;
    z-index: 10000;
    display: none;
}
#success-logo{
    width: 70px;
}
#success-text h1{
    text-align: center;
    width: 90%;
    color: #21437c;
}
#success-text p{
   width: 85%;
   text-align: center;
}
#green-message{
    width: 100%;
    background: #33CF97;
    color: #1b684b;
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
}
#red-message{
    width: 100%;
    background-color:rgb(223, 65, 65);
    color: rgb(129, 38, 38);
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
}
#form-failed{
    background-color: #f09797;
    width: 40%;
    margin: 0 auto;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.3);
    height: 40vh;
    z-index: 10000;
    display: none;
}
/* END WHEN FORM SUBMITS */

 

/* MEDIA QUERIES */
@media screen and (max-width: 1178px){
    #success-logo{
        width: 50px;
    }
    #form-success{
        width: 80%;
    }
    #success-text h1{
        font-size: 18px;
    }
    #success-text p{
       font-size: 14px;
    }

}
@media screen and (max-width: 1133px){
    .service{
        width: 30%;
        margin-bottom: 30px;
    }
    #testimonials{
        margin-top: 200px;
    }
    #contact-section{
        height: auto;
    }
    #contact-section-content{
        flex-direction: column;
    }
    #contact-lets-work{
        width: 380px;
        margin: 0 auto;
        margin-top: 80px;
    }
    .contact-social{
        margin-top: 20px;
    }
    #contact-form{
        margin-top: 40px;
        width: 400px;
    }
}
@media screen and (max-width: 1025px){
    
    #testimonial-boxes{
        flex-wrap: wrap;
        width: 90%;
    }
    .testimonial{
        width: 45%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 840px){
    header{
        flex-direction: row-reverse;
    }
    #call-to-action{
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #33CF97;
    }
    #call-to-action i{
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #ffffff;
    }
    .logo{
        display: none;
    }
    .logo-mobile{
        display: block;
        width: 139px;
    }
    .logo-mobile img{
        width: 100%;
    }
    #menu-icon{
        display: flex;
    }
    #nav{
        display: none;
    }
    #mobile-nav{
        width: 50%;
        height: 100vh;
        padding:0 5%;
        padding-top: 100px;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        background: rgba(242, 242, 242, 1);
        z-index: 10000;
        padding-bottom: 20px;
        transition:1s;
        -webkit-transition:1s;
        -moz-transition:1s;
        transform: translateX(-120%);

    }
    #mobile-nav.slide-right{
        transition:1s;
        -webkit-transition:1s;
        -moz-transition:1s;
        transform: translate(0%)
    }
    #mobile-nav-links{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #mobile-nav-links > .contact-social{
        margin-top: 70px;
    }
    #mobile-nav-links .contact-social i{
        color: rgba(0, 0, 0, .2);
        font-size: 20px;
    }
    #mobile-nav-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding-bottom: 20px;
    }
    #x{
        width: 50px;
        display: block;
        font-size: 25px;
        font-family: 'Quicksand', sans-serif;
        cursor: pointer;
    }
    #mobile-nav-call{
        background-color: #33CF97;
        border-radius: 50px;
        padding: 7px 25px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
    }
    #mobile-nav-call a{
        color: #ffffff;
    }
    #mobile-nav-call i{
        color: #ffffff;
        padding-right: 7px;
    }
    #mobile-nav-links > a{
        color: rgba(0,0,0,0.66);
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding: 25px 0;
    }
    /* main banner content */
    #banner-content{
        padding-top: 50px;
    }
    #banner-content h1{
        width: 90%;
        font-size: 8vw;
        margin-bottom: 20px;
    }
    #banner-content p{
        width: 80%;
        margin-top: 0;
        line-height: 30px;
    }
    #big-a {
        width: 300px;
    }
    .green-btn{
        padding: 15px 30px;
    }
    /* SERVICES */  
    #services > h1{
        font-size: 25px;
    }
    #services-container{
        flex-wrap: wrap;
    }
    .service{
        width: 40%;
    }
    #testimonials{
        margin-top: 250px;
    }
}
@media screen and (max-width: 670px){
    #activate-brand{
        flex-direction: column;
    }
    #blue-line{
       float: left;
    }
    #activate-left h1{
        text-align: left;
    }
    #activate-right{
        width: 100%;
    }
    #testimonial-boxes{
        flex-direction: column;
        align-items: center;
    }
    .testimonial{
        width: 400px;
    }
}
@media screen and (max-width: 500px){
    #mobile-nav{
        width: 70%;
    }
    .service{
        width: 100%;
    }
    #activate-left h1{
        font-size: 25px;
    }
    #activate-right p{
        font-size: 16px;
        line-height: 25px;
    }
    .testimonial{
        width: 95%;
    }
    #testimonials{
        margin-top: 100px;
    }
    #testimonials h1{
        font-size: 25px;
    }
    #contact-lets-work{
        width: 100%;
    }
    #contact-section-content{
        width: 85%;
    }
    #contact-text h1{
        font-size: 25px;
    }
    #contact-form{
        width: 100%;
    }
    #name-email{
        flex-direction: column;
    }
    #name-email input:first-child{
        margin-right: 0;
    }
    .thin-white-line{
        width: 25%;
    }
    #footer-header h1{
        font-size: 25px;
    }
}
/* END MEDIA QUERIES */


